version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: confsite
      POSTGRES_USER: confsite
      POSTGRES_PASSWORD: confsite
    ports:
      - "5436:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    environment:
      DB_DSN: postgres://confsite:confsite@postgres:5432/confsite?sslmode=disable
      CORS_ORIGINS: http://localhost:3000,http://localhost:5173
    depends_on:
      - postgres
    ports:
      - "8084:8084"
    volumes:
      - files_data:/data/files

  web:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - VITE_API_BASE_URL=http://localhost:8084
    ports:
      - "3000:8080"
    depends_on:
      - api

volumes:
  pgdata:
  files_data:
